/myenv
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/backend/maillens_api.egg-info

celerybeat-schedule
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.bak